
[Unit]
Description=UDAS03 Service

[Service]
Type=simple
User=pi
WorkingDirectory=/usr/share/udas03-server
ExecStart=/usr/share/udas03-server/Amplituda.UDAS.Software.UDAS03.Server
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=multi-user.target