[Unit]
Description=Installs packages on first boot
Before=display-manager.service plymouth-quit.service

[Service]
Type=oneshot
ExecStart=/usr/lib/install-once/install_once.sh
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
