[Unit]
Description=Installs packages on first boot
After=configure-once.service
Before=reboot-once.service

[Service]
Type=oneshot
ExecStart=/usr/lib/install-once/install_once.sh
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
